<div>
  <mat-card *ngFor="let question of questions; let i = index" class="mat-elevation-z4">
      <mat-card-content>
        <p>{{ question.text }}</p>
        <mat-radio-group (change)="onRadioChange($event, i)" class="vertical-radio-group">
          <mat-radio-button value="A">{{ question.choiceA }}</mat-radio-button>
          <mat-radio-button value="B">{{ question.choiceB }}</mat-radio-button>
          <mat-radio-button value="C">{{ question.choiceC }}</mat-radio-button>
        </mat-radio-group>
      </mat-card-content>
  </mat-card>

  <button mat-button (click)="onSubmit()">Finish Quiz</button>
</div>